<!-- <div class="wrapper">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>

  {% for item in site.data.nav.toc %}
      <h3>{{ item.title }}</h3>
        <ul>
          {% for entry in item.pages %}
            <li><a href="{{ entry.url }}" class="nav-link" >{{ entry.title }}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
</div> -->

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg {% if page.layout == 'post' and page.cover %} navbar-dark bg-dark {% else %} navbar-light bg-light {% endif %}">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">Exercices isométriques
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Des voitures dans les parkings ?<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
