<!-- <div class="wrapper">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>

  {% for item in site.data.nav.toc %}
      <h3>{{ item.title }}</h3>
        <ul>
          {% for entry in item.pages %}
            <li><a href="{{ entry.url }}" class="nav-link" >{{ entry.title }}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
</div> -->

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-text">
      <a class="nav-link" href="{{ "/about" | relative_url }}"><i class="ico ico-medium i-information_circle"></i></a>
    </div>
  </nav>
</div>
